$bg-color:        #FEF8F8;
$border-color:    #eee;
$headroom-animation: cubic-bezier(0.770,  0.000, 0.175, 1.000);
$headroom-anim-time: 500ms;

html {
	scroll-behavior: smooth;
}


:root {

	--text-color:   #1a1a1a;
	--bg-color: 	#FEF8F8;
	--link-text-color: #2698d9;
	--link-text-color-hover: #0f3d57;

	--navbar-bg-color: #F5F0F0f2;
	--navbar-bg-color-hover: #ebe6e6;
	--navbar-stem-bg-color-hover: #c6fcbe;

	--badge-bg-color:  #F5E2D6;
	--badge-text-color:   #000000;

	--card-bg-color:   #fff;
	--card-shadow:  rgba(0,0,0,0.24) 0px 3px 8px;
	--card-border-color: #eee;

	--table-bg-color: #fff;
	--table-bg-color-alt: #eee;
	--table-border-color: #ddd;

	--border-color: #fff;


	--independence: #404664ff;
	--snow:		    #f9f0f0ff;
	--tan-crayola:  #df9768ff;
	--middle-blue:  #8ac4d0ff;
}


[data-theme="dark"] {

	--text-color:         #FFFFEE;
	--bg-color: 	      #1c1717;
	--link-text-color: #2698d9;
	--link-text-color-hover: #a8d6f0;

	--navbar-bg-color:    #333333f2;
	--navbar-bg-color-hover: #5d5d5d;
	--navbar-stem-bg-color-hover: #577a52;

	--badge-bg-color:     #8989ab;
	--badge-text-color:   #1a1a1a;

	--card-bg-color:      #382e36;
	--card-shadow:        #0000005d 0px 6px 15px;
	--card-border-color:  #111;

	--table-bg-color:     #1a1a1a;
	--table-bg-color-alt: #111;
	--table-border-color: #444;

	--border-color: #000;


	--independence: #404664ff;
	--snow:		    #f9f0f0ff;
	--tan-crayola:  #df9768ff;
	--middle-blue:  #8ac4d0ff;


}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 100ms ease-out;
}

a, a:hover {
	text-decoration: unset;
	color: 			 unset;
}

/* Container Tweaks
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.container-fluid {
	width:        100%;
	max-width:    1200px;
	margin-left:  auto;
	margin-right: auto;
}

/* Grid Tweaks
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.row {
	padding: 10px;

	.col {
		margin-bottom: 20px;
	}


}

.first {
	margin-top: 100px;
}

.col {
	margin: 0 auto;
}

/* Titles
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
h1 {
	font-family: Raleway;
	font-weight: 600;

	.tag-title {
		color:            #000000;
		background-color: #F5E2D6;

		font-family: 		 Raleway;
		font-weight: 		 600;
	}

	.badge-primary {
		margin:              100px 0px 10px 25px;

		color:            #000000;
		background-color: #F5E2D6;
		box-shadow:       rgba(0,0,0,0.24) 0px 2px 6px;
		border-radius:       12px;

		font-style:          italic;
	}

}

.name {
	display: inline-block;
}

.post-title {
	padding-top: 100px;
}

/* Text
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
p, li {
	font-family: "Poppins";
}

.text-link {
	color: 	  var(--link-text-color);
	font-weight: 600;
	transition:  color 100ms ease-out;
	list-style-type: none;
}

.text-link:hover {
	color:    var(--link-text-color-hover);
	font-weight: 900;
	transition:  color 100ms ease-out, font-weight 100ms ease-out;
}

/* Image
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.img-fluid {

}

.pic {
	border-radius: 100px;
}

/* Contact Info
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.contact-card {
	list-style-type: none;
	font-size: 14px;
	width: 280px;
	margin: 0;
	padding: 0;
}

/* Navbar
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.navbar {
	display:             flex;
	background-color: var(--navbar-bg-color);
	border-radius:     	 12px;
	box-shadow: 	  rgba(0,0,0,0.24) 0px 2px 6px;
	text-align: 		 center;
	max-width: 			 100%;
}

.navbar-nav {
	text-align: center;
}

.navbar-brand {
	color: 				 var(--text-color);
	margin: 		     0;
	padding: 			 5px;

	border: 	   		 1px solid transparent;
	border-radius: 	     0.5rem;
	background-color: transparent;


	transition: 	     transform 100ms ease-out, 
						 border-color 100ms ease-out, 
						 background-color 100ms ease-out;
}
.navbar-brand:hover {
	border-color: #BBBBBB;
	background-color: #ebe6e6;
	transform:  scale(1.05);
}

.navbar-link {
	display: inline-block;
	margin-left: 20px;
	padding: 8px;

	border: 1px solid transparent;
	border-radius: 0.5rem;
	background-color: transparent;
	transition: transform 100ms ease-out, 
	background-color 100ms ease-out,
	border-color 100ms ease-out;;
}

.button {
	font-weight: 600;
	border-color: #bab6ab;
	border-radius: 0.5rem;
	background-color: #e8e7e300;
	box-shadow:      rgba(0,0,0,0.24) 0px 3px 8px;
	float: right;
	transition: transform 100ms ease-out, 
	background-color 100ms ease-out,
	border-color 100ms ease-out;;
}

.navbar-link:hover {
	background-color: var(--navbar-bg-color-hover);
	border-color: #ccc;
	margin-left: 20px;
	transform:  scale(1.05);
	cursor:     pointer;
}

.navbar-stem {
	background-color: transparent;
	transition: transform 100ms ease-out, background-color 100ms ease-out;
}

.navbar-stem:hover {
	border: 1px solid transparent;
	border-color: #a2c99c;
	background-color: var(--navbar-stem-bg-color-hover);
	transform:  scale(1.05);
}

.navbar-active {
	font-weight: bold;

	border-style: solid;
	border-width: 1px;
	border-radius: 0.5rem;
	border-color: #ddd;
	max-height: 100%;

	padding: 10px; 
}

.navbar-active:hover {
	margin-left: 20px;
}

.navbar-toggler {
	z-index: 500;
	border-radius: 0.5rem;
}

collapse {
	margin: 0 auto;
}


/* Dark-light mode slide toggle
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
	display: inline-block;
	margin-left: 20px;
	padding: 8px;
  	align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Headroom (navbar hiding)
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.headroom {
	will-change: transform;
	-webkit-transition: -webkit-transform $headroom-anim-time $headroom-animation;
	transition: -webkit-transform $headroom-anim-time $headroom-animation;
	-o-transition: transform $headroom-anim-time $headroom-animation;
	transition: transform $headroom-anim-time $headroom-animation;
	transition: transform $headroom-anim-time $headroom-animation, -webkit-transform $headroom-anim-time $headroom-animation;
}

.headroom--pinned {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.headroom--unpinned {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.header {
	position: fixed;
	padding: 10px;
	padding-top: 5px;
	border-radius: 15px;
	z-index: 10;
}

.header-fixed {
	position: fixed;
	z-index: 100;
	right: 0;
	left: 0;
	top: 0;
}

/* Card 
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.card {
    //transition:           100ms; CHANGE THIS IN './head.php'

    margin-right: 2px;
    margin-left:  2px;
    margin-top:   0px;
    margin-bottom: 2px;
    
    border-radius:       5px;
    margin-top:          10px;

	transition: transform 100ms ease-out;
	z-index: 50;
	position:        relative;

	border-radius:   20px;
	border-color:    var(--card-border-color);
	border-style:    solid;
	border-width:    1px;

	min-width:       90%;
	padding:         25px;

	background-color:   var(--card-bg-color);
	color: 				var(--text-color);
	box-shadow:         var(--card-shadow);

	font-family:     "Poppins";

	a {
		display: inline;
	}

	h2 {
		font-weight: 600;
		font-size:   20px;
	}

	h4 {
		display: block;
		font-weight: 400;
		font-size:   16px;
		font-style:  italic;
	}

	p {
		display: inline;
		font-weight: 400;
		font-size:   16px;
		font-style:  normal;

		padding-top: 10px;
	}

	.projectTags {
		display:        block;
		padding-top: 10px;
		margin-bottom: 0px;
	}

	.badge {
		display:    inline-block;
		font-weight: 500;
		width:      min-content;
		color: 		var(--badge-text-color);
	}

	.badge-primary {
		display:             inline-block;
		position:            relative;
		z-index:             200;
		background-color: 	 var(--badge-bg-color);
		box-shadow:       rgba(0,0,0,0.24) 0px 1px 4px;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.badge-primary:hover {
		transform:  scale(1.05);
		cursor:     pointer;
	}

}

.card:hover {
	transform:  scale(1.05);
	transition: transform 100ms ease-out;
	cursor:     pointer;
}


/* Embeds
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.embed-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.embed-wrapper {
	iframe, embed, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.embed-wrapper.chess {
	display: flex;
	height: 100%;
	//max-height: 500px;
}

.embed-wrapper.video {
	display: block;
	width: auto;
	height: auto;
}

.embed-wrapper.spotify {
	display: block;
}

.prettyprint ol.linenums > li { list-style-type: decimal; }

.prettyprint {
	overflow: auto;
}

table {
	display: block;
	overflow: auto;
	width: 100%;
}

table th {
	font-weight: 600;
}
table td,
table th {
	border: 1px solid var(--table-border-color);
	padding: 6px 13px;
}

table tr {
	background-color: var(--table-bg-color);
	border-top: 1px solid var(--table-border-color);
}

table tr:nth-child(2n) {
	background-color: var(--table-bg-color-alt);
}

pre {
	overflow: hidden;
}

pre code{
    color: #1c1917;
    display: block;
    background-color: #efefef;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 10px;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #aaa;

}

@media screen {
    .str { color: #c63232 }  /* string content */
    .kwd { color: #22B14C; font-weight: bold }  /* a keyword */
    .com { color: #1aaab1; font-style: italic }  /* a comment */
    .typ { color: #523df5 }  /* a type name */
    .lit { color: #31ad1f }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun, .opn, .clo { color: #660 }
    .tag { color: #008 }  /* a markup tag name */
    .atn { color: #606 }  /* a markup attribute name */
    .atv { color: #080 }  /* a markup attribute value */
    .dec, .var { color: #606 }  /* a declaration; a variable name */
    .fun { color: red }  /* a function name */
}

.blog-content p {
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #999999;
  box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}